.SideBar
  .LeftHeader
    .LeftHeader__list
      %h3.LeftHeader__userName
        ユーザー名
      %ul.LeftHeader__iconList
        %li.LeftHeder__icon
          = link_to '#' do
            = icon('far','edit')
        %li.LeftHeader__icon
          =link_to '#' do
            =icon('fas','cog')


  .GroupList
    .Group